body {  
    -moz-animation-duration: 3s;  
    -moz-animation-name: bkchange; 
    -moz-animation-iteration-count: infinite;  
    -moz-animation-direction: alternate;   
     -webkit-animation-duration: 3s;  
    -webkit-animation-name: bkchange; 
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-direction: alternate;
  }  
body,html {  
    
width:100%;
height:100%;   
  }  
  
  @-moz-keyframes bkchange {  
    from {  
      background: #3CB2ED;  
    }  
  
    to {  
      background:#7B8CE9;
    }  
  } 
  @-webkit-keyframes bkchange {  
    from {  
      background: #3CB2ED; 
    }  
  
    to {  
      background:#7B8CE9;
    }  
  } 
header{
	margin: 0;
	background: #2E2EFE;	
	color:#FE2E2E;
	text-align: center; ;
	position: 1em 0;
	border-bottom: 5px solid #000;

}
nav{
	text-align: center;
	margin-top: 0.7em;
}
nav li{
	display: inline-block;
	list-style: none;
}
nav li a{
	text-decoration: none;
	background: #0489B1;
	color: #fff;
	border-radius: 3px;
	padding: 0.6em 0.3em;
	box-shadow: 5px 5px 5px #333;
}
nav li a:hover {
	text-decoration: none;
	background: #AAE9F8;
	color: #fff;
	border-radius: 3px;
	padding: 0.6em 0.3em;
}
footer{
	border-top: 3px solid #000;
	background: #848484;
	color:#FF0000;
	text-align: center;
	font-size: 0.7em;
	padding: 1em 0;
}
section#contenido{
	background: #fff;
	padding: 1em ;
	margin: 2em auto;
	width: 80%;
}

