body {font-family: Gotic;
    background-color: #D3E3E7;
}
.title{
    text-align: center;
    padding-top: 50px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #1e4997;
    background-color: #D3E3E7;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #efe8cb;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #928c71;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #daab53;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #1e4997;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}