/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html,body{
	padding:0;
	margin:0;
	background:#fff;
font-family: 'Cuprum', sans-serif;
 }
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
font-family: 'Cuprum', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
font-family: 'Cuprum', sans-serif;
	letter-spacing:1px;
}	
p{
	margin:0;
	padding:0;
	letter-spacing:1px;
font-family: 'Cuprum', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
/*-- //Reset-Code --*/
body {
    background-color: #D3E3E7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
.appointment-w3 {
    background-color:rgba(255, 255, 255, 0.12);
    padding: 40px 40px;
   -webkit-box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
}
h1.header-w3ls {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #19346a;
    letter-spacing: 5px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}
.form-right-w3ls
{
	padding-right:0px;}
.form-left-w3l{

	padding-left:0px;}	
	.main{ display: -webkit-flex;
           display: flex;	/* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    justify-content: space-between;}
	.form-right-w3ls,.form-left-w3l{  flex-basis: 45%;
	 -webkit-flex-basis: 45%;
	}
.form-left-w3l input[type="text"],.form-right-w3ls input[type="password"],.form-left-w3l input[type="email"]
,.form-control-w3l textarea,.form-right-w3ls  input[type="date"],.form-add-w3ls input[type="text"]{
    width:100%;
	padding-left:0px;
    color: #19346a;
    outline: none;
    font-size: 17px;
    padding: .8em 1em;
	padding-left:0em;
    border: none;
	border-bottom:1px solid #19346a;
	margin: 0px 0px 16px;
    -webkit-appearance: none;
    display: inline-block;
    background:none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
	  box-sizing: border-box;

}
textarea{
    height: 134px;
    padding: 1em;
	overflow: hidden;
	resize:none;
}
.form-left-w3l input[type="text"].top-up,
.form-right-w3ls input[type="password"].top-up 
{     padding-top:0em;
      margin-top:0px;}
 select.form-control {
    outline: none;
    font-size: 17px;
    padding:0.8em 1em;
	padding-left:0em;
    width: 100%;
	height:50px;
    margin: 0px 0px 16px;
	border-radius:0;
    background:none;
    color: #19346a;
    border: none;
	border-bottom:1px solid #19346a;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
option{background:#000;}

input[type="submit"] {
	    border-radius: 50px;
    text-transform: uppercase;
       background: #19346a;
    color: #fff;
    padding:11px 15px;
    border: none;
    font-size: 17px;
    outline: none;
    width: 50%;
    letter-spacing: 1px;
    margin-top: 35px;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
 
	input[type="submit"]:hover {
    color: #fff;
    background: #000;
}
 
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #19346a;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #19346a;
}
:-ms-input-placeholder { /* IE 10+ */
     color: #19346a;
}
:-moz-placeholder { /* Firefox 18- */
    color: #19346a;
}
.btnn{
	display:block;
   margin:0;
	text-align:center;
	position:relative;
    }

.copy{padding-top:50px;}
.copy p {
    margin: 0em;
    text-align: center;
    font-size: 17px;
    color: black;
    letter-spacing: 3px;
}
.copy p a{
	  color:blue;
	  text-decoration:none;
      }	 
.copy p a:hover{color:#4a0606;}

/*--responsive--*/
@media(max-width:1920px){
	h1.header-w3ls {
    padding-top: 173px;
	font-size: 41px;
}
.appointment-w3 {
    width: 45%;
    margin: 39px auto 50px;
}

}
@media(max-width:1680px){
.appointment-w3 {
    width: 44%;
}
h1.header-w3ls {
    font-size: 66px;
}	
}
@media(max-width:1600px){
	h1.header-w3ls {
    font-size: 60px;
	padding-top: 30px;
}
.appointment-w3 {
    width: 42%; 
	margin: 30px auto 30px;
}
}
@media(max-width:1440px){
.appointment-w3 {
    width: 45%;
	
}
textarea {
    height: 123px;
}	
 select.form-control,.form-left-w3l input[type="text"], 
 .form-right-w3ls input[type="password"], .form-left-w3l input[type="email"],
 .form-control-w3l textarea, .form-right-w3ls input[type="date"],
 .form-add-w3ls input[type="text"] {
    padding: .6em 1em;
    padding-left: 0em;
}
}
@media(max-width:1366px){
.appointment-w3 {
    width: 47%;
}	
}
@media(max-width:1280px){
.appointment-w3 {
    width: 49%;
}	
}
@media(max-width:1080px){
.appointment-w3 {
    width: 62%;
}

	
}
@media(max-width:1050px){
.appointment-w3 {
    width: 64%;
}	
}
@media(max-width:1024px){
.appointment-w3 {
    width: 66%;
}	
}
@media(max-width:991px){
h1.header-w3ls {
    font-size: 50px;
}	
.appointment-w3 {
    width: 66%;
}
}
@media(max-width:900px){
.appointment-w3 {
    width: 69%;
}	
}
@media(max-width:800px){
h1.header-w3ls {
    font-size: 47px;
}
.appointment-w3 {
    width: 71%;
}	
}
@media(max-width:768px){
.appointment-w3 {
    width: 73%;
}	
h1.header-w3ls {
    padding-top: 35px;
}
}
@media(max-width:767px){
h1.header-w3ls {
    letter-spacing: 9px;
	font-size: 45px;
}	
}
@media(max-width:736px){
.copy p {
    letter-spacing: 2px;
}	
}
@media(max-width:667px){
h1.header-w3ls {
    letter-spacing: 7px;	
}
select.form-control,
.form-left-w3l input[type="email"], .form-control-w3l textarea, 
.form-right-w3ls input[type="password"], .form-add-w3ls input[type="text"] {
 margin: 0px 0px 9px;
	}
textarea {
    height: 109px;
	}
	.copy p {
    font-size: 16px
}
}
@media(max-width:640px){
h1.header-w3ls {
    letter-spacing: 5px;
}
select.form-control, .form-left-w3l input[type="text"],
 .form-right-w3ls input[type="password"], .form-left-w3l input[type="email"],
 .form-control-w3l textarea, .form-right-w3ls input[type="date"], 
 .form-add-w3ls input[type="text"] {
    padding: .6em 0em .8em;
}
.copy {
    padding: 0 24px 30px;
    line-height: 29px;
}	
}
@media(max-width:600px){
	h1.header-w3ls {
    letter-spacing: 4px;
}
.appointment-w3 {
    width: 75%;
}
}
@media(max-width:568px){
	h1.header-w3ls {
    letter-spacing: 3px;
}
.appointment-w3 {
    width: 78%;
	padding: 40px 29px;
}
}

@media(max-width:480px){
.form-right-w3ls input[type="password"].top-up {
padding-top:.6em;}
.main{-webkit-flex-direction: column;
	flex-direction:column;}
select.form-control {
    height: 41px;
}	
h1.header-w3ls {
    letter-spacing: 1px;
    font-size: 41px;
}
.appointment-w3 {
    width: 80%;
    padding: 33px 21px;
}
textarea {
    height: 100px;
}
select.form-control, 
.form-left-w3l input[type="text"], 
.form-right-w3ls input[type="password"],
.form-left-w3l input[type="email"], 
.form-control-w3l textarea, 
.form-right-w3ls input[type="date"],
.form-add-w3ls input[type="text"] {
    font-size: 15px;	
}
.copy p {
    letter-spacing: 1px;
	font-size: 15px;
}
}
@media(max-width:440px){
h1.header-w3ls {
	line-height: 50px;
    padding: 20px 11px 0px
}	
.appointment-w3 {
	    padding: 33px 19px;
    margin: 19px auto 27px;
}
}
@media(max-width:414px){
.copy {
    padding: 0 24px 25px;
}	
h1.header-w3ls {
    font-size: 38px;
}
input[type="submit"] {
    margin-top: 26px;
}
}
@media(max-width:384px){
textarea {
    height: 88px;
}
select.form-control, 
.form-left-w3l input[type="text"], 
.form-right-w3ls input[type="password"],
 .form-left-w3l input[type="email"], 
 .form-control-w3l textarea, 
 .form-right-w3ls input[type="date"],
 .form-add-w3ls input[type="text"] {
    margin: 0px 0px 12px;
    padding: .6em 0em .5em;
}	
}
@media(max-width:375px){
.appointment-w3 {
    padding: 33px 22px;
    margin: 13px auto 27px;
}	
}
@media(max-width:320px){
h1.header-w3ls {
    font-size: 37px;
    padding: 20px 12px 0px;	
}
.copy p {
    letter-spacing: .5px;
}
}
.recover{
    color: #4a0606;
}
.mdfk{
    opacity: 0.6
}
/*--//responsive--*/






